<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="nodejs">
          <match url="^app(.*)" /> <!-- Matches URLs starting with 'app' -->
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/app.js" />
        </rule>
        
        <rule name="Forward to localhost:8080">
          <match url="(.*)" />
          <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="https://localhost:8080/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
